nav {
  width: 100%;
  height: 20%;
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
#bar_logo {
  opacity: 0;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
#logo {
  margin-right: 10px;
  font-size: 20px;
}

#logo_text {
  font-size: 20px;
}
.navbar__meunu {
  margin-right: 10px;
}

.fab {
  margin-right: 20px;
}

@media screen and (max-width: 768px) {
  /* For mobile phones: */
  nav {
    width: 100%;
    height: 20%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  .logo {
    align-self: start;
  }
  .logo_list {
    width: 100%;
    display: flex;
    align-items: center;
  }

  #bar_logo {
    opacity: 1;
    align-self: flex-end;
  }
  .navbar_list {
    display: flex;
    flex-direction: column;
  }
  .navbar__meunu {
    margin-bottom: 4px;
  }
}
